[Unit]
Description=SeaweedFS Filer Server
Requires=seaweedfs-master.service seaweedfs-volume.service
After=seaweedfs-master.service seaweedfs-volume.service

[Service]
Type=simple
ExecStart=/usr/bin/weed filer -master=localhost:9333 -port=8888
Restart=on-failure
LimitNOFILE=100000

User=seaweedfs
Group=seaweedfs

[Install]
WantedBy=multi-user.target

