[Unit]
Description=SeaweedFS Filer Server
Requires=seaweedfs-master.service seaweedfs-volume.service
After=seaweedfs-master.service seaweedfs-volume.service

[Service]
Type=simple
EnvironmentFile=/etc/seaweedfs/filer.env
ExecStart=/usr/bin/weed filer -master=${FILER_MASTER} -port=${FILER_PORT}
Restart=on-failure
LimitNOFILE=100000

User=seaweedfs
Group=seaweedfs

[Install]
WantedBy=multi-user.target

