[Unit]
Description=SeaweedFS Master Server
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/seaweedfs/master.env

ExecStart=/usr/bin/weed master -mdir ${MASTER_MDIR} -port ${MASTER_PORT} -ip ${MASTER_IP}

Restart=on-failure
LimitNOFILE=100000

User=seaweedfs
Group=seaweedfs

[Install]
WantedBy=multi-user.target

