[Unit]
Description=SeaweedFS S3 Server
After=seaweedfs-filer.service
Requires=seaweedfs-filer.service

[Service]
EnvironmentFile=/etc/seaweedfs/s3.env
ExecStart=/usr/bin/weed s3 -filer=${S3_FILER} -port=${S3_PORT}
Restart=always

[Install]
WantedBy=multi-user.target

