[Unit]
Description=Gitbucket
Requires=network.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/gitbucket
Restart=on-failure
SuccessExitStatus=143

User=gitbucket
Group=gitbucket

WorkingDirectory=/var/lib/gitbucket

#Environment="GITBUCKET_HOME=/var/lib/gitbucket"
#Environment="GITBUCKET_PREFIX=/gitbucket"
#Environment="GITBUCKET_CONNECTORS=http,https"
#Environment="GITBUCKET_PORT=8080"
#Environment="GITBUCKET_SECUREPORT=8443"
#Environment="GITBUCKET_REDIRECTHTTPS=false"

#Environment="GITBUCKET_LOG=/var/log/gitbucket/gitbucket.log"

#Environment="GITBUCKET_KEYSTOREPATH=/var/lib/gitbucket/server.p12"
#Environment="GITBUCKET_KEYSTOREPASSWORD=secret"
#Environment="GITBUCKET_KEYMANAGERPASSWORD=secret"

[Install]
WantedBy=multi-user.target

